body {
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
}

.events {
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #f8f8f8;
}

video {
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
}

.events .event {
  width: 300px;
  border: 1px solid #ebf1f6;
  box-shadow: 0 0 2px 0 rgba(145,158,171,.2), 0 12px 24px -4px rgba(145,158,171,.12);
}

.event-title {
  color: #fafafa
}

.event img {
  height: 150px;
}

#ticketType {
  width: 100%;
}

.actions {
  flex-wrap: wrap;
}

.quantity {
  margin: 12px auto;
}

#page-header {
  background-color: #000000;
  position: sticky;
  top: 0;
}

.link-item {
  color: #fdfdfd
}

.logo {
  height: 50px;
  padding: 6px;
}

.add-btn {
  background-color: #07058d;
}

.add-to-cart-btn {
  background: #fffffe;
  margin: 22px auto;
  display: block;
  width: 100%;
}

.main-content-component {
  margin-bottom: 40px;
}




.card {
  width: 300px;
  background: rgb(67, 66, 66);
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap; 
}

/* .order-button {
  width: 85px;
  height: 54px;
  background: whitesmoke;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
} */

.event-info {
  padding: 20px;
  color: rgb(255, 255, 255);
}

.event-name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; /* Center the text */
}

.event-description {
  font-size: 16px;
}

.event-location {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-image {
  height: 154px;
  border-radius: 10px;
  display: block;
}

.img-icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.ticket-category-dropdown{
  background-color: #000000;

}

.menu-container {
  
  z-index: 99999;
  position: relative;
  opacity: 1;
}
.filter-container {
  margin: 1px; /* Adjust the margin as needed */
}


.filter-input {
  flex: 1;
  margin-right: 150px;
  margin-left: 0px;
}

.filter-input {
  flex: 1; /* Let the input take up the remaining space */
}


